
<!DOCTYPE html>
<html lang="en">
<head>
    <title>商品详情</title>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Questrial:400%7CMontserrat:300,400,700,700i' rel='stylesheet'>

    <!-- Css -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/font-icons.css" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="/public/css/color.css" />
    <link rel="stylesheet" href="/public/css/mystyle.css" />

</head>

<body>
<!-- Preloader -->
<div class="loader-mask">
    <div class="loader">
        <div></div>
    </div>
</div>

<main class="main oh mb-xl-5"  id="main">
<!-- Navigation -->
<header class="nav" xmlns="http://www.w3.org/1999/html">

    <div style = "position: fixed;height:80px;left:0;right: 0;top:0;background-color: #261656;font-size: 16px;color: white">
        <div class="left px-xl-5 py-xl-4">
            <a href="/product/list" class="white">
                <i class="ui-github">
                </i>
                Home
            </a>
        </div>
        <div class="right px-xl-5 py-xl-4 ">
            {{if .IsLogin}}
                <a href="/user/logout" class="white mx-5" ><i class="ui-user"></i>Log Out</a>
            {{else}}
                <a href="/user/login" class="white mx-5" ><i class="ui-user"></i>Sign In</a>
            {{end}}
            <a href="/order/list" class="white" >
                <i class="ui-bag"></i>Order
            </a>
        </div>
    </div>

</header> <!-- end navigation -->

<section class="section-wrap pt-0 pb-40">
    <div class="container">
        <div class="heading-row mt-xl-5">
            <div class="text-center">
                <h2 class="heading bottom-line">
                    商品列表
                </h2>
            </div>
        </div>

        <div class="row row-8">
            {{range $index, $elem := .products}}
                <div class="col-lg-2 col-sm-4 product">
                <div class="product__img-holder">
                    <a href="/product/detail?id={{$elem.ID}}" class="product__link">
                        <img src="{{$elem.productImage}}" alt="" class="product__img" width="205px" height="223px">
                    </a>
                    <div class="product__actions">
                        <a href="/product/detail?id={{$elem.ID}}" class="product__link" style="width: 100%">
                            <i class="ui-eye"></i>
                            <span>Quick View</span>
                        </a>
                    </div>
                </div>

                <div class="product__details ">
                    <div class="right">
                        <h3 class="product__title">
                            <a href="single-product.html">{{$elem.shopName}}</a>
                        </h3>
                    </div>
                    <div class="left">
                        <h3 class="product__title">
                            <i class="ui-paypal" style="font-size: 16px"><a href="single-product.html">{{$elem.productName}}</a></i>
                        </h3>
                    </div>
                    <div style="clear:both"></div>
                </div>

                <span class="product__price" >
              <ins>
                <span class="amount">￥{{$elem.productNewprice}}</span>
              </ins>
              <del>
                <span>￥{{$elem.productOldprice}}</span>
              </del>
            </span>
            </div> <!-- end product -->
            {{end}}

        </div> <!-- end row -->
    </div> <!-- end container -->

    <div class="text-center">
        <ul class="pagination pagination-sm ">
            <li class="page-item {{if le .IndexPage 1}}disabled{{end}}"><a class="page-link" href="{{if gt .IndexPage 1}}/product/list?pagenum={{.PrePage}}{{else}}#{{end}}">Previous</a></li>
            {{range .ArrayPages}}
                <li class="page-item {{if eq . $.IndexPage}}active{{end}}"><a class="page-link" href="/product/list?pagenum={{.}}">{{.}}</a></li>
            {{end}}
            <li class="page-item {{if ge .IndexPage .EndPage}}disabled{{end}}"><a class="page-link" href="{{if lt .IndexPage .EndPage}}/product/list?pagenum={{.NextPage}}{{else}}#{{end}}">Next</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">总计{{.Count}}条，{{.EndPage}}页</a></li>
        </ul>
    </div>
</section> <!-- end related products -->
</main>


<!-- Footer -->
<footer class="footer" style="position: fixed;height:80px;left:0;right: 0;bottom:0;background-color: #261656">


    <div class="footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-sm-center">
              <span class="copyright">
                Copyright &copy; 2018.Company name All rights reserved.
              </span>
                </div>

                <div class="col-md-6 footer__payment-systems text-right text-sm-center mt-sml-10">
                    <i class="ui-paypal"></i>
                    <i class="ui-visa"></i>
                    <i class="ui-mastercard"></i>
                    <i class="ui-discover"></i>
                    <i class="ui-amex"></i>
                </div>
            </div>
        </div>
    </div> <!-- end bottom footer -->
</footer> <!-- end footer -->



<!-- jQuery Scripts -->
<script type="text/javascript" src="/public/js/jquery.min.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/public/js/easing.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/public/js/owl-carousel.min.js"></script>
<script type="text/javascript" src="/public/js/flickity.pkgd.min.js"></script>
<script type="text/javascript" src="/public/js/modernizr.min.js"></script>
<script type="text/javascript" src="/public/js/scripts.js"></script>
<script>
    $.ajax({
        type:"get",
        url:"http://test.test/api/product/list",
        success:function(res){
            console.log(res)
        }
    })
</script>
</body>
</html>
