
<!DOCTYPE html>
<html lang="en">
<head>
    <title>商品详情</title>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Questrial:400%7CMontserrat:300,400,700,700i' rel='stylesheet'>

    <!-- Css -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/font-icons.css" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="/public/css/color.css" />
    <link rel="stylesheet" href="/public/css/mystyle.css" />

</head>

<body>

<!-- Preloader -->
<div class="loader-mask">
    <div class="loader">
        <div></div>
    </div>
</div>

<main class="main oh mb-xl-5"  id="main">
<!-- Navigation -->
<header class="nav" xmlns="http://www.w3.org/1999/html">

    <div style = "position: fixed;height:80px;left:0;right: 0;top:0;background-color: #261656;font-size: 16px;color: white">
        <div class="left px-xl-5 py-xl-4">
            <a href="/product/list" class="white">
                <i class="ui-github">
                </i>
                Home
            </a>
        </div>
        <div class="right px-xl-5 py-xl-4 ">
            {{if .IsLogin}}
                <a href="/user/logout" class="white mx-5" ><i class="ui-user"></i>Log Out</a>
            {{else}}
                <a href="/user/login" class="white mx-5" ><i class="ui-user"></i>Sign In</a>
            {{end}}
            <a href="/order/list" class="white" >
                <i class="ui-bag"></i>Order
            </a>
        </div>
    </div>

</header> <!-- end navigation -->

<!-- Single Product -->
<section class="section-wrap pb-20 product-single mb-xl-5">
    <div class="container">

        <!-- Breadcrumbs -->
        <ol class="breadcrumbs">
            <li>
                <a href="/product/list">Home</a>
            </li>
            <li class="active">
                {{.product.ProductName}}
            </li>
        </ol>

        <div class="row">

            <div class="col-md-6 product-slider mb-50">
                <div class="flickity flickity-slider-wrap mfp-hover" id="gallery-main">
                    <div class="gallery-cell">
                        <img src="{{.product.ProductImage}}" width="604px" height="604px" alt=""/>
                    </div>
                </div> <!-- end gallery main -->
            </div> <!-- end col img slider -->

            <div class="col-md-6 product-single">
                <h1 class="product-single__title uppercase">{{.product.ProductName}}</h1>

                <span class="product-single__price">
              <ins>
                <span class="amount">{{.product.ProductNewprice}}</span>
              </ins>
              <del>
                <span>{{.product.ProductOldprice}}</span>
              </del>
            </span>

                <form action="/product/get" method="post" id="productFrom">
                    <div class="row row-10 product-single__actions clearfix">
                        <div class="col">
                                <a href="/product/kill?productid={{.product.ID}}" class="btn btn-lg btn-color product-single__add-to-cart">
                                <i class="ui-bag"><span >秒杀</span></i>
                            </a>
                        </div>
                    </div>

                    <div class="size-quantity clearfix">

                        <div class="quantity">
                            <label>Quantity:</label>
                            {{.product.ProductNum}}
                        </div>
                    </div>
                </form>

                <!-- Accordion -->
                <div class="accordion mb-50" id="accordion">
                    <div class="accordion__panel">
                        <div class="accordion__heading" id="headingOne">
                            <a data-toggle="collapse" href="#collapseOne" class="accordion__link accordion--is-open"
                               aria-expanded="true" aria-controls="collapseOne">Description<span
                                    class="accordion__toggle">&nbsp;</span>
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse show" data-parent="#accordion" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="accordion__body">
                                {{.product.ProductDescription}}
                            </div>
                        </div>
                    </div>
                </div> <!-- end accordion -->

            </div> <!-- end col product description -->
        </div> <!-- end row -->

    </div> <!-- end container -->
</section> <!-- end single product -->

</main> <!-- end main-wrapper -->


<!-- Footer -->
<footer class="footer" style="position: fixed;height:80px;left:0;right: 0;bottom:0;background-color: #261656">


    <div class="footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-sm-center">
              <span class="copyright">
                Copyright &copy; 2018.Company name All rights reserved.
              </span>
                </div>

                <div class="col-md-6 footer__payment-systems text-right text-sm-center mt-sml-10">
                    <i class="ui-paypal"></i>
                    <i class="ui-visa"></i>
                    <i class="ui-mastercard"></i>
                    <i class="ui-discover"></i>
                    <i class="ui-amex"></i>
                </div>
            </div>
        </div>
    </div> <!-- end bottom footer -->
</footer> <!-- end footer -->



<!-- jQuery Scripts -->
<script type="text/javascript" src="/public/js/jquery.min.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/public/js/easing.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/public/js/owl-carousel.min.js"></script>
<script type="text/javascript" src="/public/js/flickity.pkgd.min.js"></script>
<script type="text/javascript" src="/public/js/modernizr.min.js"></script>
<script type="text/javascript" src="/public/js/scripts.js"></script>
<script>
    var startTime = "Mon Jun 18 2018 19:34:20 GMT+0800 (CST)" //秒杀开始时间
    //求时间差秒级别
    function contrastTime(begin, end) {
        var difference = (Date.parse(end) - Date.parse(begin)) / 1000; //利用时间戳算出相差的时间
        return difference;
    }

    //判断时间是否可以
    function isTimeOk() {
        var d = new Date();
        var ret = contrastTime(d, startTime);//获取返回值
        //判断开始时间是否大于当前时间，秒为单位
        if (ret >= 0) {
            //大于则无法够买
            return false
        }
        return true
    }
    //判断是否开始抢购,这里可以改成其它方式
    if (isTimeOk() == true) {
        document.getElementById('add').style="";
    } else {
        document.getElementById('add').style="display:none";
        //一秒判断一次
    }

    //点击按钮后10秒不允许提交,也可以变成其它样式
    document.getElementById('add').onclick=function(){
        this.style= "display:none";
        setTimeout(function (){
            document.getElementById('add').style="";
        },3000);
    }
    //表单提交
    function doSubmitForm() {
        var form = document.getElementById('productFrom');
        form.submit();
    }
</script>
</body>
</html>




