<div class="page-head">
    <h2 class="page-head-title">商品列表</h2>
</div>

<div class="main-content container-fluid">
    <div class="row">
        <!--Responsive table-->
        <div class="col-sm-12">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">商品列表
                </div>
                <div class="panel-body">
                    <div class="table-responsive noSwipe">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th style="width:17%;">商品图片</th>
                                <th style="width:25%;">商品名称</th>
                                <th style="width:25%;">商品数量</th>
                                <th style="width:30%;">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{range $i, $v := .productArray}}
                            <tr>
                                <td class="cell-detail"><img src="{{$v.ProductImage}}" alt="Avatar" width="35px" height="35px"> </td>
                                <td class="milestone"> {{$v.ProductName}}
                                </td>
                                <td class="cell-detail">{{$v.ProductNum}}</td>
                                <td class="cell-detail"><a href="/product/update?id={{$v.ID}}"><button class="btn btn-space btn-primary">修改</button></a> <a href="/product/delete?id={{$v.ID}}"><button class="btn btn-space btn-danger">删除</button></a>   </td>
                            </tr>
                            {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <ul class="pagination pagination-sm">
        <li class="page-item {{if le .IndexPage 1}}disabled{{end}}"><a class="page-link" href="{{if gt .IndexPage 1}}/product/list?pagenum={{.PrePage}}{{else}}#{{end}}">Previous</a></li>
        {{range .ArrayPages}}
            <li class="page-item {{if eq . $.IndexPage}}active{{end}}"><a class="page-link" href="/product/list?pagenum={{.}}">{{.}}</a></li>
        {{end}}
        <li class="page-item {{if ge .IndexPage .EndPage}}disabled{{end}}"><a class="page-link" href="{{if lt .IndexPage .EndPage}}/product/list?pagenum={{.NextPage}}{{else}}#{{end}}">Next</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">总计{{.Count}}条，{{.EndPage}}页</a></li>
    </ul>
</div>

